flask
flask-sqlalchemy
flask-login
flask-migrate
flask-limiter
flask-apscheduler
feedparser
spacy
newspaper3k
lxml_html_clean
python-slugify
psycopg2-binary
gunicorn
authlib
requests
pyotp
qrcode[pil]
cryptography
python-dotenv
boto3
argostranslate
langdetect